
	/* NAVIGATION LAYOUT CSS*/
    
    .pe-menu-main{
    	position:static;
    	padding:20px 20px 0 20px;
    }

	/*prevent nav element from collapsing*/
   .pe-menu-main:after {
	   content: "";
	   display: table;
	   clear: both;
	}
	
	/*mobile menu toggle button*/
    .pe-menu-main .menu-toggle{
		display:none;
	}

	.pe-menu a:hover{
		text-decoration: none;
	}

    /*first level main menu*/
	.pe-menu .subtitle{
		margin-top:5px;
		display:block;
	}
	
	
	.pe-menu > li > a{
		position:relative;
		display:block;
	}
	

	/*positioning the 1st submenu marker icons*/
	.pe-menu > li > a:not(:only-child):after{
		margin-left:3px;
	}

	/*positioning the 2nd submenu marker icons*/
	.pe-menu .pe-dropdown-menu > li > a:not(:only-child):after{
		position:absolute;
		right:15px;
	}

	/*drop menu item icons spacing*/
	.pe-menu > li > ul  a > [class^="icon-"]{
		margin-right:5px;
	}
	
	.pe-menu .pe-dropdown-menu b{
		margin-left:5px;
	}
	
	.pe-menu {
		position:static;
		float:right;
		margin-bottom:0;
		display:block;
	}

	.pe-menu.disabled{
		display:none;
	}
	
	/*main nav item spacing*/
	.pe-menu li{
		float:left;
		margin-left:15px;
		position:relative;
	}

	.pe-menu li.pe-menu-mega{
		position:static;
	}

	.pe-menu li:before{
		content:"";
		width:auto;
	}
	
	.pe-menu li:first-child{
		margin-left:0;
		padding-left:0;
	}
	
	
	/*padding under main menu items*/
	.pe-menu li a{
		padding-bottom:15px;
	}

	/*second level drop menu*/
	.pe-dropdown-menu{
        margin-top:-1px;
        position:absolute;
        left:-9999px !important;
		min-width:180px;
		z-index:100;
		display:block;
		padding:0;
    }

    .pe-dropdown-menu .sub-menu{
    	margin-top:-2px !important;
    }
	
	.pe-dropdown-menu li > a:hover,
	.pe-dropdown-menu li > a:focus,
	.pe-dropdown-menu .active > a,
	.pe-dropdown-menu .active > a:hover {
		filter:none;
	}
	
	.pe-dropdown-menu > li{
		float:none;
		clear:both;
		margin:0;
		padding:0;
		display:block;
	}
	
	.pe-menu .pe-dropdown-menu li > a{
		display:block;
		padding: 10px 15px;
	}
	
	.pe-menu .pe-dropdown-menu li:first-child > a{
		padding-top:15px;
	}

	.pe-menu .pe-dropdown-menu li:last-child > a,
	.pe-menu .pe-dropdown-menu li.last > a{
		padding-bottom:15px;
	}


	/*third level drop menu*/
	.pe-dropdown-menu.sub-menu {
        left:-9999px !important;
        position: absolute;
        top: 0px;
        visibility: hidden;
		display:block !important;
		z-index:101;
        margin-top:0px;
    }
    
    .pe-dropdown-menu .sub-menu {
        left:-9999px !important;
        position:absolute;
		left:0;
    }
    
    .pe-dropdown-menu li{
        position:relative !important;
    }
    

	/*android tablet menu fixes*/	
	.android .nav > li.pe-dropdown > .pe-dropdown-menu{
        display:block !important;
    }

    .pe-menu-back{
    	display:none !important;
    }

	
	/*HOVER POSITIONING OF NORMAL MENU*/
    /*apply styles only above 1024px
    This way no interfereing with mobile menu
    hover when viewed on desktop*/
	@media (min-width: 992px) {
		
		.desktop .pe-dropdown-menu > li.pe-dropdown:hover > .sub-menu {
	        visibility: visible !important;
	        display:block;
	        left:100% !important;
	        position:absolute !important;
			top:0px !important;
	    }
	    
	    .desktop .pe-dropdown-menu.rightAlign > li.pe-dropdown:hover .sub-menu{
	        left:-100% !important;
	        right:auto !important;
	        position:absolute !important;
	    }

	    .desktop .pe-menu > li.pe-dropdown:hover > .pe-dropdown-menu{
	        left:-15px !important;
	    }

	    .desktop .pe-menu > li.pe-dropdown.pe-menu-mega:hover > .pe-dropdown-menu{
	        left:0px !important;
	    }
	    
	    .desktop .pe-menu > li.pe-dropdown:hover .pe-dropdown-menu.rightAlign{
	        right:0 !important;
	        left:auto !important;
	    }
		
		.desktop .pe-menu > li.pe-dropdown:hover .pe-dropdown-menu > li.pe-dropdown:hover > .sub-menu.rightAlign{
			left:-100% !important;
	        right:auto !important;
	        position:absolute !important;
		}

	}


	/*MEGA MENU*/

	/*apply styles only above 1024px*/
	@media (min-width: 992px) {

		/*position mega menu*/
		.desktop .pe-menu > li.pe-dropdown.pe-menu-mega:hover > ul{
	        left:0px !important;
	    } 

	    /*resetting hover to click submenu on tablet landscape*/
		.mobile .pe-menu > li.pe-dropdown.pe-menu-mega.pe-dropdown-on > ul{
	        left:0px !important;
	    }

		.mobile .pe-menu > li.pe-dropdown.pe-dropdown-on > .pe-dropdown-menu{
	        left:-15px !important;
	    }
		
		.mobile .pe-menu > li.pe-dropdown.pe-dropdown-on > .pe-dropdown-menu > li.pe-dropdown-on .sub-menu {
	        visibility: visible !important;
	        display:block;
	        left:100% !important;
	        position:absolute !important;
	    }

	    .mobile .pe-menu > li.pe-dropdown.pe-dropdown-on > .pe-dropdown-menu.rightAlign {
	        left:-100% !important;
	        right:auto !important;
	        position:absolute !important;
	    }
		
		.mobile .pe-menu > li.pe-dropdown.pe-dropdown-on > .pe-dropdown-menu.rightAlign > li.pe-dropdown-on .sub-menu {
	        left:-100% !important;
	        right:auto !important;
	        position:absolute !important;
	    }

	    .mobile .pe-menu > li.pe-dropdown.pe-dropdown-on  .pe-dropdown-menu > li.pe-dropdown.pe-dropdown-on  > .sub-menu.rightAlign{
			left:-100% !important;
	        right:auto !important;
	        position:absolute !important;
		}
		
		/*mega menu background*/
	    .pe-menu-mega > ul{
	    	position:absolute;
	    	width:100%;
	    	left:-9999px !important;
	    	padding-top:20px;
	    	padding-bottom:20px;
	    }

	    .pe-menu-mega .pe-dropdown-menu{
	    	min-width:0;
	    }

	    .pe-menu-mega .pe-dropdown-menu li > a{
	    	padding-left:0;
	    }
		
		/*mega menu column*/
	    .pe-menu-mega > ul > li {
	    	float:left !important;
	    	clear:none !important;
	    }

	    .pe-menu-mega > ul > li.new-row{
	    	clear:both !important;
	    }

	    /*1column*/
	    .pe-menu-mega.pe-menu-mega-1col > ul > li {
	    	margin-left: 0px;
	    	width: 100%;
			width: 940px;
			max-width: 940px;
	    	border-left:none !important;
	    }

	    /*2columns*/
	    .pe-menu-mega.pe-menu-mega-2col > ul > li {
	    	margin-left: 19px;
	    	width: 460px;
	    }
		
		/*3columns*/
	    .pe-menu-mega.pe-menu-mega-3col > ul > li {
	    	margin-left: 19px;
	    	width: 300px;
	    }

	    /*4columns*/
	    .pe-menu-mega.pe-menu-mega-4col > ul > li {
	    	margin-left: 19px;
	    	width: 220px;
	    }

	    /*5columns*/
	    .pe-menu-mega.pe-menu-mega-5col > ul > li {
	    	margin-left: 19px;
	    	width: 172px;
	    }

	    /*6columns*/
	    .pe-menu-mega.pe-menu-mega-6col > ul > li {
	    	margin-left: 19px;
	    	width: 140px;
	    }

	    .pe-menu-mega > ul > li:first-child{
	    	margin-left:0;
	    	border-left:none;
	    }

	    .pe-menu-mega .pe-dropdown-menu li:first-child > a{
			padding-top:10px;
		}

		/*mega menu hide sub menu icons from col heads*/
	    .pe-menu-mega > ul > li > a > b{
	    	display:none;
	    }
		
		/*mega menu cols unhide*/
	    .pe-menu-mega > ul > li > ul.sub-menu{
	    	position:relative;
	    	display:block;
	    	left:0 !important;
	    	visibility: visible;
	    }

	    .pe-menu-mega > ul{
			overflow:hidden;	
	    }

	    .pe-menu-mega li{
	    	float:left;
	    	clear:both;
	    	margin-left:0;
	    	display:block;
	    	width:100%;
	    }

	    .pe-menu-mega li>a{
	    	display:block;
			padding:8px 15px;
	    }

	    .pe-menu-mega > ul > li > ul.sub-menu > li:first-child > a{
	    	padding-top:10px;
	    }

	    .pe-menu-mega .pe-dropdown-menu > li.pe-dropdown:hover > .sub-menu{
	    	position:relative !important;
	    	left:0 !important;
	    }

	    .pe-menu-mega .pe-dropdown-menu.rightAlign > li.pe-dropdown:hover .sub-menu{
	    	position:relative !important;
	    	left:0 !important;
	    }

	    /*mega menu embedded content title*/
	    .pe-menu-mega-embedded > a{
	    	display:none !important;
	    }
	}
	/*end mega menu*/


	/*ANIMATIONS*/
	/*desktop only and above 1024px resolution*/
	@media (min-width: 992px) {
		
		/*drop menu show animation*/
		.desktop .pe-menu > li.pe-dropdown:hover > .pe-dropdown-menu{
			-webkit-animation: dropMenuShow 0.3s ease;
			-moz-animation: dropMenuShow 0.3s ease;
			animation: dropMenuShow 0.3s ease;
	    }

		@keyframes dropMenuShow{
			0%   {
				opacity: 0; 
				transform:translateY(10px);
			}
			100%   {
				opacity: 1; 
				transform:translateY(0px);
			}
		}

		@-webkit-keyframes dropMenuShow{
			0%   {
				opacity: 0; 
				-webkit-transform:translateY(10px);
			}
			100%   {
				opacity: 1; 
				-webkit-transform:translateY(0px);
			}
		}

		@-moz-keyframes dropMenuShow{
			0%   {
				opacity: 0; 
				-moz-transform:translateY(10px);
			}
			100%   {
				opacity: 1; 
				-moz-transform:translateY(0px);
			}
		}

		/*submenu show/hide animation*/
		/*submenu normal*/
	    .desktop .pe-dropdown-menu > li.pe-dropdown:hover > .sub-menu{
	    	-webkit-animation: subMenuShow 0.3s ease;
			-moz-animation: subMenuShow 0.3s ease;
			animation: subMenuShow 0.3s ease;
	    }
		

		@keyframes subMenuShow{
			0%   {
				opacity: 0; 
				transform:translateX(10px);
			}
			100%   {
				opacity: 1; 
				transform:translateX(0px);
			}
		}

		@-webkit-keyframes subMenuShow{
			0%   {
				opacity: 0; 
				-webkit-transform:translateX(10px);
			}
			100%   {
				opacity: 1; 
				-webkit-transform:translateX(0px);
			}
		}

		@-moz-keyframes subMenuShow{
			0%   {
				opacity: 0; 
				-moz-transform:translateX(10px);
			}
			100%   {
				opacity: 1; 
				-moz-transform:translateX(0px);
			}
		}

		/*submenu right align*/
		.desktop .pe-dropdown-menu.rightAlign > li.pe-dropdown:hover .sub-menu,
		.desktop .pe-dropdown-menu > li.pe-dropdown:hover .sub-menu.rightAlign{
			-webkit-animation: subMenuShowRight 0.3s ease;
			-moz-animation: subMenuShowRight 0.3s ease;
			animation: subMenuShowRight 0.3s ease;
		}


		@keyframes subMenuShowRight{
			0%   {
				opacity: 0; 
				transform:translateX(-10px);
			}
			100%   {
				opacity: 1; 
				transform:translateX(0px);
			}
		}

		@-webkit-keyframes subMenuShowRight{
			0%   {
				opacity: 0; 
				-webkit-transform:translateX(-10px);
			}
			100%   {
				opacity: 1; 
				-webkit-transform:translateX(0px);
			}
		}

		@-moz-keyframes subMenuShowRight{
			0%   {
				opacity: 0; 
				-moz-transform:translateX(-10px);
			}
			100%   {
				opacity: 1; 
				-moz-transform:translateX(0px);
			}
		}

		/*no animation in megamenu submenu*/
		.desktop .pe-menu-mega .pe-dropdown-menu > li.pe-dropdown:hover > .sub-menu{
	    	-webkit-animation: none;
			-moz-animation: none;
			animation: none;
	    }
	}
	/*end animations*/


	/*MOBILE MENU*/
	
	
	/*mobile menu switching media query*/
	@media (max-width: 991px) {
		
		.pe-menu ul {
            -webkit-transform: translateZ(0px);
        }  

		.pe-menu-main{
			position: static;
			display:block;
			width:100%;
			min-width:320px;
			padding:0;
		}

		.pe-menu.pe-menu-mobile-active {
			-webkit-transition: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			transition: all .2s ease-out;
		}

		/*menu toggle button*/
		.menu-toggle{
			display:block;
		}

		/*menu toggle icon*/
		.menu-toggle:after{
			text-align: center;
			display: block;
			position:relative;
			left:0;
		}

		.pe-menu .pe-dropdown-menu > li > a.pe-menu-back{
	    	display:block !important;
	    	padding-left:20px !important;
	    }

	    .pe-menu-back:before{
			position: absolute;
			top: 0;
			left:0;
			speak: none;
		}

		.pe-menu{
			display:none;
			visibility:hidden;
			float:right;
			clear:both;
			width:100%;
			max-width:1024px;
			min-width: 320px;
			margin:0;
			margin-top:0;
			opacity: 0;
			position:absolute;
			top:100%;
			right:0;
			-webkit-transform: translateZ(0px);
		}

		.pe-menu li{
			margin-left:0;
		}

		.pe-menu.pe-menu-mobile-active {
			display:block;
			opacity:1;
			visibility:visible;
		}

		/*menu toggle button*/
		.pe-menu-main .menu-toggle{
			width:38px;
			height:38px;
			display:block;
			float:right;
		}

		.pe-menu-main .menu-toggle > b{
			width:38px;
			text-align:center;
			display:block;
		}

		/*hide the drop arrows from desktop menu*/
		.pe-menu > li > a > b,
		.pe-menu .pe-dropdown-menu b{
			display:none;
		}
		
		/*top most menu items*/
		.pe-menu > li{
			position:static !important;
			left:0 !important;
			display:block;
			float:none !important;
			clear:both !important;
			right:auto !important;
			top:0 !important;
			visibility:visible;
			max-width:737px;
			margin-left:15px !important;
			margin-right:15px !important;
		}

		/*submenu items*/
		.pe-menu .pe-dropdown-menu,
		.pe-menu .pe-dropdown-menu .sub-menu
		{
			position:absolute !important;
			display:block;
			float:none !important;
			clear:both !important;
			top:0;
			width:100%;
			left:100% !important;
			right:auto;
			visibility:hidden;
			margin-top:-2px;
		}

		.pe-menu .pe-dropdown-menu.pe-menu-mobile-on,
		.pe-menu .pe-dropdown-menu .sub-menu.pe-menu-mobile-on
		{
			visibility:visible;
			z-index: 101;
		}
		
		.pe-menu .pe-dropdown-menu.sub-menu > li,
		.pe-menu .pe-dropdown-menu > li{
			max-width:748px;
			margin-left:15px;
			margin-right:15px;
		}

		.pe-menu .pe-dropdown-menu > li{
			position:static !important;
			margin-left: 15px !important;
		}

		/*font styles in mobile menu*/
		.pe-menu li a{
			display: block;
			position: relative;
			padding: 20px 0;
		}

		/*main menu item padding in mobile*/
		.pe-menu > li > a,
		.pe-menu .pe-dropdown-menu li > a{
			padding:20px 0 !important;
		}
		
		/*mobile sub menu marker icons*/
		.pe-menu li > a:not(:only-child):after{
			position: absolute;
			top: 0;
			right:18px;
			speak: none;
		}

		/*hide submenues*/
		.pe-menu li .submenu {
			padding-left:20px;
			margin-left:0;
		}

	    /*mega menu embedded content hide*/
	    .pe-menu-mega-embedded-content{
	    	display:none;
	    }
	}

	/* Small devices (tablets, 768px and 991px) */
	@media (min-width: 768px) and (max-width: 991px){
		.pe-menu > li{
			margin-left:auto !important;
			margin-right:auto !important;
		}

		.pe-menu .pe-dropdown-menu > li{
			margin-left:auto !important;
			margin-right:auto !important;
		}
		.pe-menu > li{
			max-width:720px;
		}
	}
	

	/*mobile menu on small tablets*/
	@media (max-width: 767px) {
		
		.pe-menu > li{	
			max-width:737px;
		}

		.pe-menu .pe-dropdown-menu.sub-menu > li,
		.pe-menu .pe-dropdown-menu > li{
			max-width:737px;
		}


	}


	/*mobile menu on iphone landscape*/
	/*@media (max-width: 480px) {
        
		.pe-menu > li{	
			max-width:440px;
		}

		.pe-menu .pe-dropdown-menu.sub-menu > li,
		.pe-menu .pe-dropdown-menu > li{
			max-width:440px;
		}
    }*/


    /*mobile menu on iphone*/
	/*@media (max-width: 479px) {
        
		.pe-menu > li{	
			max-width:280px;
		}

		.pe-menu .pe-dropdown-menu.sub-menu > li,
		.pe-menu .pe-dropdown-menu > li{
			max-width:280px;
		}
    }*/

	/*end mobile menu*/

	/*fix list style when view inserted by shortcode (.pe-wp-default style override)*/
	.pe-menu li {
		list-style: none;
	}